.sulaWrap {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    padding-top: 50px;

    .sulaTableTest {
      background-color: red;
      height: 30px;
      width: 100%;

      .qiantaoStyle {
        background-color: yellow;
        width: 50%;
        height: 50%;
      }
    }

    :global {
        .ant-table-selection-column {
          z-index: 1;
        }
      }
}