.nativeDragWrap {
    height: 500px;
    display: flex;
    justify-content: space-between;

    .nativeDragLeft {
        border: 1px solid #000;
        width: 45%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;


        .box1 {
            // width: 100px;
            // height: 50px;
            // border: 1px solid #000;
            margin: 20px 30px;
        }

        // .box2 {
        //     width: 100px;
        //     height: 50px;
        //     background-color: green;
        // }
    }

    .nativeDragRight {
        border: 1px solid #000;
        width: 45%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        
        .box1 {
            // width: 100px;
            // height: 50px;
            // border: 1px solid #000;
            margin: 20px 30px;
        }

        // .box2 {
        //     width: 100px;
        //     height: 50px;
        //     background-color: green;
        // }
    }
}