.timeSelectionWrap {
  display: flex;
  align-items: center;

  .mainTime {
    display: flex;
    width: 500px;
    overflow: auto;
    user-select: none;

    .mainTimeItem {
      display: flex;
      align-items: center;
      min-width: 115px;
      height: 100px;
      cursor: pointer;

      //   &::before {
      //     width: 2px;
      //     height: 52%;
      //     margin: 0 15px;
      //     background-color: red;
      //     content: '';
      //   }

      .dayAndWeek {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      //   &:last-child {
      //     &::after {
      //       width: 2px;
      //       height: 52%;
      //       margin: 0 15px;
      //       background-color: red;
      //       content: '';
      //     }
      //   }
    }

    .selectedItem {
        background-color: #2a8dfd;
    }
  }

  :global {
    .anticon-left,
    .anticon-right {
      font-size: 24px;
      cursor: pointer;
    }

    .ant-divider-vertical {
      height: 50%;
      border-left: 2px solid rgba(0, 0, 0, 0.06);
    }
  }

  /*定义滚动条轨道*/
  &::-webkit-scrollbar {
    height: 12px;
  }

  /*定义滑块 样式*/
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border: none;
    border-radius: 2px;

    &:hover {
      background-color: #a9a9a9;
    }
  }
}
