.timeSelectionWrap {
  display: flex;
  align-items: center;

  .mainTime {
    display: flex;
    width: 80%;
    overflow: auto;
    user-select: none;

    .mainTimeItem {
      display: flex;
      align-items: center;
      height: 100px;
      cursor: pointer;

      .dayAndWeek {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 85px;
      }
    }

    .selectedDateItem {
      background-color: #1890ff;
      border-radius: 4px;
    }

    /*定义滚动条轨道*/
    &::-webkit-scrollbar {
      height: 12px;
      background-color: #f0f2f5;
    }

    /*定义滑块 样式*/
    &::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border: none;
      border-radius: 2px;

      &:hover {
        background-color: #a9a9a9;
      }
    }
  }

  :global {
    .anticon-left,
    .anticon-right {
      font-size: 24px;
      cursor: pointer;
    }

    .ant-divider-vertical {
      height: 50%;
      border-left: 2px solid rgba(0, 0, 0, 0.06);
    }
  }

  .disabledOutlined {
    color: #f0f2f5;
    cursor: not-allowed;
  }
}
